/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }

.l-col1 { float: left; width: 60%; padding-right: 100px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.l-col1_about { padding-right: 20px; }

.l-col2 { float: right; width: 40%; padding-left: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.l-col2:after { content: " "; display: table; clear: both; }
.l-col2 .l-col2__left { float: left; width: 50%; padding-right: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.l-col2 .l-col2__right { float: right; width: 50%; padding-left: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.page-header { *zoom: 1; }
.page-header:after { content: " "; display: table; clear: both; }

.logo { float: left; line-height: 1; }
.logo .logo__top { color: yellow; text-transform: uppercase; font-weight: bold; font-size: 25px; font-size: 2.5rem; margin-bottom: 5px; }
.logo .logo__bottom { color: white; font-size: 12px; font-size: 1.2rem; }
.logo .logo__bottom a { color: white; }

.nav { float: right; }
.nav .nav__list { font-size: 0px; font-size: 0rem; }
.nav .nav__list li { display: inline-block; vertical-align: top; text-align: center; margin-left: 10px; }
.nav .nav__item { font-size: 10px; font-size: 1rem; color: white; text-decoration: none; text-transform: uppercase; }
.nav .nav__item_yellow { color: yellow; }

html { font-size: 62.5%; }

div.wrapper { max-width: 800px; margin: auto; background: url("../img/slider-image.jpg") 50% 0; }

div.wrapper_about { background: url("../img/slider-image.jpg") 50% 2; }

div.wrapper_program { background: url("../img/slider-image.jpg") 50% 2; }

div.wrapper_admission { background: url("../img/slider-image.jpg") 50% 2; }

.out { min-height: 400px; padding: 30px; background-color: rgba(0, 0, 0, 0.7); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.out_bgblue { background: rgba(0, 0, 255, 0.7); }

.text-big { display: block; color: white; font-weight: bold; font-size: 18px; font-size: 1.8rem; }

.text-big_index { margin-bottom: 20px; }

.text-big_about { margin-bottom: 20px; }

.text-big_program { margin-bottom: 10px; }

.text-small { color: white; font-size: 12px; font-size: 1.2rem; }

.text-small_about { padding-right: 80px; }

.text-small_yellow { color: yellow; }

.text-small_program { margin-bottom: 20px; }

.text-small_cost { margin-top: 10px; margin-bottom: 15px; }

.btn-apply { color: yellow; text-transform: uppercase; font-size: 12px; font-size: 1.2rem; background: transparent; border: 1px solid yellow; padding: 5px 10px; }

.page-main { padding-top: 50px; *zoom: 1; }
.page-main:after { content: " "; display: table; clear: both; }

.page-main__list { margin-top: 150px; font-size: 0px; font-size: 0rem; }
.page-main__list li { display: inline-block; font-size: 12px; font-size: 1.2rem; color: yellow; width: 20%; }

.person { color: yellow; font-size: 12px; font-size: 1.2rem; }

.person__about { color: white; font-size: 10px; font-size: 1rem; margin-bottom: 10px; }
