// default layout
.l
	+clr
.l-col1
	float: left
	width: 60%
	padding-right: 216px
	+box
.l-col1_about
	padding-right: 126px 
.l-col2
	float: right
	width: 40%
	padding-left: 5px
	+box
	+clr
	.l-col2__left
		float: left
		width: 50%
		padding-right: 20px 
		+box 
	.l-col2__right
		float: right
		width: 50%
		padding-left: 5px
		padding-right: 15px 
		+box
.l-col2_about
	padding-left: 134px 
